* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:  #7D26CD;
    --secondary-color: #007c64;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    width: 88%;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-gap: 40px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3(1fr);
}

.sub-img {
    width: 100%;
    display: grid;
    grid-column: 1;
}

.title {
    padding-top: 22px;
    padding-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
    display: grid;
    grid-column: 1;
}

.excerpt {
    padding-bottom: 15px;
    display: grid;
    grid-column: 1;
}

.post-link {
    display: grid;
    width: 50%;
    grid-column: 1;
}

.b0 {
    display: grid;
    grid-row: 1;
    grid-column: 1/span 3;
    grid-template-columns: 1fr 0.2fr 0.8fr;
    grid-template-rows: 5(1fr);    
}

.featured-img {
    width: 95%;
    display: grid;
    grid-row: 1/span 5;
    grid-column: 1;
}

.b0 h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: bold;
    display: grid;
    grid-row: 2;
    grid-column: 2/span 3;
}

.b0 h4 {
    display: grid;
    font-size: 20px;
    grid-row: 1;
    grid-column: 2/span 3;
}

.b0 p {
    display: grid;
    grid-row: 3;
    grid-column: 2/span 3;
    padding-bottom: 10px;
}

.author-img {
    border-radius: 24px;
    display: grid;
    grid-row: 4;
    grid-column: 2;
}

.b0 h5 {
    font-size: 18px;
    display: grid;
    grid-row: 4;
    grid-column: 3;
    align-items: center;
    margin-left: -50px;
}

.b0 a {
    display: grid;
    padding-top: 20px;
    grid-row: 5;
    grid-column: 2/span 3;
    width: 30%;
}

.b1 {
    grid-row: 2;
    grid-column: 1;
}

.b1 img {
    grid-row: 1;
}

.b1 h3 {
    grid-row: 2;
}

.b1 p {
    grid-row: 3;
}

.b1 a {
    grid-row: 4;
    
}

.b2 {
    grid-row: 2;
    grid-column: 2;
}

.b2 img {
    grid-row: 1;
}

.b2 h3 {
    grid-row: 2;
}

.b2 p {
    grid-row: 3;
}

.b2 a {
    grid-row: 4;
}

.b3 {
    grid-row: 2;
    grid-column: 3;
}

.b3 img {
    grid-row: 1;
}

.b3 h3 {
    grid-row: 2;
}

.b3 p {
    grid-row: 3;
}

.b3 a {
    grid-row: 4;
}

.b4 {
    grid-row: 3;
    grid-column: 1;
}

.b4 img {
    margin-top: 80px;
    grid-row: 1;
}

.b4 h3 {
    grid-row: 2;
}

.b4 p {
    grid-row: 3;
}

.b4 a {
    grid-row: 4;
}

.b5 {
    grid-row: 3;
    grid-column: 2;
}

.b5 img {
    margin-top: 80px;
    grid-row: 1;
}

.b5 h3 {
    grid-row: 2;
}

.b5 p {
    grid-row: 3;
}

.b5 a {
    grid-row: 4;
}

.b6 {
    grid-row: 3;
    grid-column: 3;
}

.b6 img {
    margin-top: 80px;
    grid-row: 1;
}

.b6 h3 {
    grid-row: 2;
}

.b6 p {
    grid-row: 3;
}

.b6 a {
    grid-row: 4;
}

h2, h3 {
    color: var(--primary-color);
}

h5 {
    color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

button:hover {
    background-color: var(--secondary-color);
}

.page-nav {
    font-weight: bold;
    margin-bottom: 3%;
    color: #007c64;
}

#previous-page {
    margin-left: 6%;
    float: left;
}

#next-page {
    margin-right: 6%;
    float:right;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1201px) {
    .featured-img {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 88%;
        margin: 20px auto;
        grid-template-columns: 1fr;
        grid-template-rows: 7(1fr);
        grid-gap: 0px;
    }

    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 4(1fr);
        grid-column: 1/span 3;
    }

    .sub-img {
        grid-row: 1;
    }

    .title {
        grid-row: 2;
    }
    
    .excerpt {
        padding-bottom: 24px;
        grid-row: 3;
    }

    .post-link {
        justify-self: center;
        width: 100%;
        grid-row: 4;
    }

    .b0 {
        grid-template-columns: 1fr;
        grid-template-rows: 7(1fr);    
    }
    
    .featured-img {
        width: 100%;
        grid-row: 1;
    }
    
    .b0 h2 {
        grid-row: 3;
        grid-column: 1;
    }
    
    .b0 h4 {
        padding-top: 20px;
        padding-bottom: 15px;
        grid-row: 2;
        grid-column: 1;
    }
    
    .b0 p {
        grid-row: 4;
        grid-column: 1;
    }
    
    .author-img {
        margin-top: 25px;
        justify-self: center;
        grid-row: 5;
        grid-column: 1;
    }
    
    .b0 h5 {
        grid-row: 6;
        grid-column: 1;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 0px;
    }
    
    .b0 a {
        width: 100%;
        grid-row: 7;
        grid-column: 1;
        justify-self: center;
    }

    .b1 {
        grid-row: 2;
    }
    
    .b1 p {
        padding-bottom: 15px;
    }
    
    .b2 {
        grid-row: 3;
        padding-bottom: 80px;
    }
    
    .b3 {
        grid-row: 4;
    }
    
    .b4 {
        grid-row: 5;
    }
    
    .b5 {
        grid-row: 6;
    }
    
    .b6 {
        grid-row: 7;
    }
}